{% extends 'todo/base.html' %}
    {% block content %}
    <h3>Completed</h3>
        <ul>
        {% for todo in todos %}
            
            <a href="{% url 'todoview' todo.id %}">
                <li> 
                    {% if todo.importance %}<b>{% endif %} {{todo.title}} {% if todo.importance %}</b>{% endif %}
                    {% if todo.memo %} - {{ todo.memo }} {% endif %}
                    {{todo.datecompleted | date:'M j Y H:i' }}
                </li>    
            </a>
        {% endfor  %}
        </ul>
    {% endblock %}
    