<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    {% extends 'todo/base.html' %}
    {% block content %}
    <h3>Current users</h3>
        <ul>
        {% for todo in todos %}
            <li> 
                {% if todo.importance %}<b>{% endif %} {{todo.title}} {% if todo.importance %}</b>{% endif %}
                {% if todo.memo %} - {{ todo.memo }} {% endif %}
            </li>
            <!-- <li>{{todo.memo}}</li> 
            <li>{{todo.datecompleted}}</li>
            <li>{{todo.user}}</li> -->
        {% endfor  %}
        </ul>
        
        
    {% endblock %}
    
</body>
</html>