{% extends 'todo/base.html' %}
{% block content %}

<h3>View of a single todo </h3> <br>
<h4>You can edit, make complete and delete todo </h4>

<h3>{{todos.title}}</h3>
{{error}}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form> 

<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

{% endblock %}